/* ====================================
   RESET
==================================== */

*,
*::before,
*::after {

  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

/* ====================================
   ROOT
==================================== */

html,
body,
#root {

  width: 100%;

  min-height: 100vh;
}

/* ====================================
   BODY
==================================== */

body {

  background: #020617;

  color: white;

  font-family:
    Inter,
    sans-serif;

  overflow: hidden;
}

/* ====================================
   ROOT APP
==================================== */

#root {

  display: flex;

  flex-direction: column;
}

/* ====================================
   BUTTON
==================================== */

button {

  font: inherit;
}

/* ====================================
   INPUT
==================================== */

input,
textarea {

  font: inherit;
}